# --- Web UI ---
streamlit

# --- LangChain core & community integrations ---
langchain
langchain-community
faiss-cpu

# --- Hugging Face LLMs, Embeddings ---
sentence-transformers
openai





# --- Vector Store ---
tiktoken

# --- Environment Variables ---
python-dotenv

# --- Python version . 3.7 EDA Support (Optional but useful for dashboards) ---
matplotlib
seaborn
pandas
numpy
tqdm

